.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 120px;
  border-bottom: 1px solid #f2f4f7;
  height: 68px;
  background-color: #f2f4f7;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
}
