.nav {
  display: flex;
  gap: 32px;
}

.link {
  color: #101828;
  font-weight: 500;
  transition: all 0.3s ease;
}

.link:hover,
.link:focus {
  color: #0b44cd;
  transform: scale(1.05);
}

.active {
  color: #0b44cd;
}
