.hero {
  position: relative;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-image: image-set(
    url('../../images/bg-home-1440.webp') 1x,
    url('../../images/bg-home-1440@2x.webp') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.content {
  max-width: 783px;
  padding-top: 436px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 16px;
}

.content p {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #fff;
  margin-bottom: 40px;
}

.content button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  min-width: 276px;
  height: 44px;
  font-weight: 600;
  color: #fff;
  background-color: #3470ff;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.content button:hover,
.content button:focus {
  background-color: #0b44cd;
}
